---
// src/pages/cart.astro
import Layout from '../layouts/Layout.astro';
import CartView from '../components/CartView.astro';
---

<Layout title="Your Cart">
  <h1>Your Shopping Cart</h1>
  <CartView />
</Layout>